@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

:root {
    --main-font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
    --special-font-family: 'Major Mono Display', monospace;
    --primary-bg-color: rgb(198, 198, 198);
    --secondary-bg-color: rgb(108, 117, 125);
    --primary-color: #1f003f;
    --secondary-color: rgb(217, 3, 104);
}

/* CSS Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    position: relative;
    min-height: 100vh;
    font-family: var(--main-font-family);
}

main {
    padding: 5.6rem 0 5rem 0;
}

/* HEADER */
header nav {
    box-shadow: rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.navbar-brand img {
    height: 4rem;
    filter: drop-shadow(5px 5px 5px #000);
}

/* MAIN */
.banner {
    background-color: var(--primary-bg-color);
    border-bottom: 1px solid black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    color: #1f003f;
    width: 100%;
    height: 5rem;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

h2 {
    font-family: var(--special-font-family);
    text-transform: uppercase;
}

.banner a[href="#"] {
    visibility: hidden;
}

.search-bar {
    display: flex;
    padding: 1rem 5rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.category {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.category label {
    padding: 0.5rem 1rem;
}

.category .search input {
    margin-right: 0;
    padding-right: 0;
}

.search {
    display: flex;
    justify-content: center;
}

.search button {
    margin-left: 0;
    padding-left: 0;
    width: 3rem;
    border-radius: 0 50px 50px 0;
}

.search button svg {
    position: relative;
    bottom: 3px;
}

/* Events */
.cards-container,
.details-container,
.stats-container,
.contact-container {
    margin: 3rem;
    font-family: var(--main-font-family);
}

.card img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
}

.details-container .card img {
    height: 100%;
}

.details-container .list-group-item {
    margin: 0.5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    min-width: 9rem;
}

/* Contact */
.contact-container form {
    padding: 2rem 2.5rem;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.contact-container label {
    color: var(--secondary-color);
    text-shadow: -1px 1px 10px rgb(255, 255, 255);
    padding-top: 2rem;
    padding-left: 0.5rem;
}

/* STATS */
.stats-container table caption h3 {
    font-weight: 800;
    color: var(--secondary-color);
    padding-top: 1.5rem;
}

.stats-table tbody tr td:nth-child(2) {
    color: var(--primary-color);
    text-shadow: -1px 2px 5px rgba(98, 255, 33, 0.5);
}

.stats-table tbody tr td:nth-child(3) {
    color: var(--primary-color);
    text-shadow: -1px 2px 5px rgba(255, 33, 33, 0.5);
}

.stats-table tbody tr td:nth-child(4) {
    color: var(--primary-color);
    text-shadow: -1px 2px 5px rgba(240, 255, 33, 0.5);
}

/* FOOTER */
footer {
    position: absolute;
    width: 100%;
    height: 5rem;
    padding: 1rem 3rem;
    bottom: 0;
    background-color: var(--primary-bg-color);
    border-top: 1px solid black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px -13px 27px -5px, rgba(0, 0, 0, 0.3) 0px -8px 16px -8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

footer .social a {
    text-decoration: none;
    color: var(--secondary-color);
    padding: 0.5rem;
}

/* Media Queries */

/* Landscape Phone */
@media only screen and (max-width: 767.98px) {
    .search-bar .category {
        min-width: 95vw;
    }

    .search-bar .search {
        padding-top: 2rem;
    }
}

/* Tablet */
@media only screen and (max-width: 991.98px) {
    .navbar-collapse {
        text-align: center;
    }

    .search-bar {
        padding: 1rem;
        justify-content: space-evenly;
    }

    .search-bar .category {
        width: 60%;
    }
}