@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

:root {
    --main-font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
    --special-font-family: 'Major Mono Display', monospace;
    --primary-bg-color: #c6c6c6;
    --secondary-bg-color: #212529;
    --primary-color: #1f003f;
    --secondary-color: #d90368;
    --rainbow-gradient: linear-gradient(to right, rgba(255, 0, 0, 1) 0%,
            rgba(255, 154, 0, 1) 10%,
            rgba(208, 222, 33, 1) 20%,
            rgba(79, 220, 74, 1) 30%,
            rgba(63, 218, 216, 1) 40%,
            rgba(47, 201, 226, 1) 50%,
            rgba(28, 127, 238, 1) 60%,
            rgba(95, 21, 242, 1) 70%,
            rgba(186, 12, 248, 1) 80%,
            rgba(251, 7, 217, 1) 90%,
            rgba(255, 0, 0, 1) 100%);
    --rainbow-gradient-2: linear-gradient(180deg, rgba(255, 0, 0, 1) 0%,
            rgba(255, 154, 0, 1) 10%,
            rgba(208, 222, 33, 1) 20%,
            rgba(79, 220, 74, 1) 30%,
            rgba(63, 218, 216, 1) 40%,
            rgba(47, 201, 226, 1) 50%,
            rgba(28, 127, 238, 1) 60%,
            rgba(95, 21, 242, 1) 70%,
            rgba(186, 12, 248, 1) 80%,
            rgba(251, 7, 217, 1) 90%,
            rgba(255, 0, 0, 1) 100%);
}

/* CSS Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    position: relative;
    min-height: 100vh;
    font-family: var(--main-font-family);
}

main {
    padding-top: 5.9rem;
    height: 100%;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
    background-color: var(--secondary-bg-color);
}

::-webkit-scrollbar-track {
    background-color: var(--secondary-bg-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-image: var(--rainbow-gradient-2);
    -webkit-box-shadow: inset 0 0 6px var(--secondary-color);
}

/* HEADER */
header nav {
    box-shadow: rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    min-height: 6rem;
    padding-bottom: 0;
    padding-top: 30px;
}

.current-date-container {
    font-size: 0.8rem;
    padding: 5px 20px;
    width: 100vw;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    text-align: right;
}

.current-date-container p::before {
    content: '📅 Current Date : ';
}

.navbar-brand img {
    height: 3.5rem;
    padding-left: 10px;
    filter: drop-shadow(5px 5px 5px #000);
    -webkit-transition: opacity 1s ease-in-out;
    transition: opacity .2s ease-in-out;
    opacity: .8;
}

.navbar-brand img:hover {
    opacity: 1;
}

a.nav-link {
    margin: 0 0.5rem;
    background:
        linear-gradient(to right, var(--secondary-color), rgba(100, 200, 200, 0)),
        var(--rainbow-gradient);
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

a.nav-link:hover,
a.nav-link:focus,
a.nav-link.active {
    background-size: 0 0.1em, 100% 0.1em;
}

/* MAIN */
section {
    padding-bottom: 8rem;
}

.banner {
    background-color: var(--primary-bg-color);
    padding: 3px;
    border-bottom: 1px solid black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    color: #1f003f;
    width: 100%;
    height: 5rem;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h2 {
    font-family: var(--special-font-family);
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    position: relative;
    top: 2px;
}

.banner a,
.details-arrow {
    text-decoration: none;
    color: var(--primary-bg-color);
    background-color: rgba(0, 0, 0, 0.58);
    min-height: 2rem;
    min-width: 2rem;
    padding: 3px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    margin: auto;
    filter: opacity(0.5);
}

.banner:hover a,
.banner:hover .details-arrow, #myBtn:hover {
    filter: opacity(1);
    transition: opacity 0.5s ease-in-out;
}

.banner a[href="#"] {
    visibility: hidden;
}

/* CATEGORY/SEARCH BAR*/
.search-bar {
    padding: 1rem 4.5rem;
}

.category label {
    padding: 0.5rem 0.6rem;
}

.custom-checkbox {
    cursor: pointer;
    background-color: #ffffff70;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
    width: 18px;
    height: 18px;
    appearance: none;
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    background-position: 0 -2rem;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out;
}

.custom-checkbox:checked {
    background-color: var(--secondary-bg-color);
    background-position: 0 0;
}

.custom-checkbox:focus {
    border-style: dashed;
}

.custom-checkbox:disabled {
    background-color: var(--primary-bg-color);
    background-image: none;
}

.custom-checkbox:disabled:checked {
    background-color: var(--primary-bg-color);
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

.search-bar span {
    margin-left: 0.3rem;
}

.search {
    display: flex;
    justify-content: center;
}

.mySearch {
    padding: 6px 9px;
    border: 3px solid var(--primary-bg-color);
    border-right: none;
    border-radius: 10px 0 0 10px;
    font-size: 17px;
}

.mySearch:focus {
    outline: none;
    border: 3px solid var(--secondary-color);
    border-right: none;
}

.search button {
    margin-left: 0;
    padding-left: 0;
    width: 3rem;
    border-radius: 0 50px 50px 0;
}

.search button svg:hover {
    font-weight: 700;
    fill: var(--secondary-color);
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.search button svg {
    position: relative;
    bottom: 3px;
}

/* EVENTS */
.cards-container,
.contact-container,
.stats-container {
    margin-top: 3rem;
    padding-bottom: 3rem;
    min-width: 90%;
    font-family: var(--main-font-family);
    -webkit-animation: text-focus-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) 0.1s both;
    animation: text-focus-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) 0.1s both;
}

.cards-container .card:hover {
    -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.card-header {
    font-style: oblique;
}

.cards-container .card-title {
    padding-bottom: 0.3rem;
    background:
        linear-gradient(to right, var(--secondary-color), rgba(100, 200, 200, 0));
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
}

.cards-container .card img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.ue-card img {
    transition: filter 0.4s ease-in-out;
    filter: sepia(100%) hue-rotate(288deg) saturate(400%) brightness(85%);
}

.ue-card:hover img {
    filter: none;
}

.pe-card img {
    transition: filter 0.5s ease-in-out;
    filter: grayscale(100%);
}

.pe-card:hover img {
    filter: grayscale(0);
}

.cards-container .card-descr {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.no-results-message {
    color: gray;
    margin-bottom: 2rem;
}

.no-results-message .travolta-container {
    margin-bottom: 1.5rem;
    border-bottom: 3px solid var(--secondary-color);
}

.no-results-message img {
    padding: 0 0;
    max-width: 180.15px;
    max-height: 175px;
    margin: 0 4rem;
    filter: contrast(0.5);
}

.no-results-message a {
    text-decoration: none;
    padding-top: 1rem;
    font-size: 0.9rem;
    color: var(--secondary-color);
}

/* DETAILS */
#details-body {
    background: repeating-radial-gradient(circle at 0 0, #eee, #ccc 5px);
}

.details-container {
    -webkit-animation: flip-in-ver-left 0.8s cubic-bezier(0.785, 0.135, 0.150, 0.860) 0.5s both;
    animation: flip-in-ver-left 0.8s cubic-bezier(0.785, 0.135, 0.150, 0.860) 0.5s both;
}

.details-container .card {
    width: 100%;
}

.details-container .card img {
    object-fit: cover;
    height: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background: linear-gradient(0deg, #000000c9, var(--secondary-bg-color));
    border-radius: 5px 0 0 5px;
}

.details-container .card img:hover {
    object-fit: contain;
}

.details-container .card-title {
    font-size: 1.5rem;
    font-weight: 500;
    background:
        linear-gradient(to left, var(--secondary-color), rgba(100, 200, 200, 0));
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
}

.details-container .card-footer {
    min-width: 60%;
}

.details-container .list-group-item {
    margin: 0.5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    min-width: 9rem;
    cursor: pointer;
    height: 2.5rem;
    color: var(--secondary-color);
    font-weight: bolder;
}

.details-container .list-group-item:hover {
    -webkit-animation: scale-up-center 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.details-container .list-group-item i {
    background-color: var(--secondary-bg-color);
    border-radius: 100%;
    height: 40px;
    width: 40px;
    padding: 6px;
    color: white;
    position: relative;
    right: 16px;
    border: 3px outset var(--secondary-color);

}

.details-container .list-group-item span {
    color: #000;
    font-weight: 200;
}

/* CONTACT */
#contact-body {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ff8000'/%3E%3Cstop offset='1' stop-color='%23ff8000' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2300ff19'/%3E%3Cstop offset='1' stop-color='%2300ff19' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%239900ff'/%3E%3Cstop offset='1' stop-color='%239900ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffff00'/%3E%3Cstop offset='1' stop-color='%23ffff00' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FF0000'/%3E%3Cstop offset='1' stop-color='%23FF0000' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230CF'/%3E%3Cstop offset='1' stop-color='%230CF' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.contact-container {
    min-width: 90%;
}

.contact-container form {
    padding: 1rem 2.5rem;
    border-radius: 10px;
}

.contact-container fieldset {
    position: relative;
    background-color: white;
    border: 2px inset var(--secondary-bg-color);
    border-radius: 50px;
    margin-bottom: 2rem;
    padding: 1rem 1rem 4rem 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.contact-container fieldset:after {
    position: absolute;
    width: 50px;
    height: 50px;
    border-top: 0px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 0px solid black;
    top: 100.1%;
    left: 50%;
    margin-left: -25px;
    content: '';
    transform: rotate(45deg);
    margin-top: -25px;
    background: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.contact-container label {
    color: var(--secondary-color);
    text-shadow: -1px 1px 10px rgb(255, 255, 255);
    padding-top: 2rem;
    padding-left: 0.5rem;
}

/* STATS */
#stats-bg-img {
    background: #eee;
    background-image: repeating-linear-gradient(to bottom,
            transparent 7px,
            #ccc 9px,
            #cccccc8f 13px,
            transparent 13px);
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -10;
}

.stats-container a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.731);
}

.stats-container tbody tr:hover th {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px white;
}

.stats-container span {
    color: var(--secondary-color);
}

.stats-container h3 {
    font-weight: 600;
    color: var(--secondary-color);
    padding-bottom: 1rem;
    margin: 2rem 0rem;
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, var(--secondary-color) 50%, rgba(255, 255, 255, 0) 100%);
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
}

#top-3-title {
    font-weight: 900;
    font-size: 2rem;
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
}

.stats-table-container {
    padding: 10px;
    border: double 4px transparent;
    border-radius: 50px;
    background-image: linear-gradient(#000000, rgba(0, 0, 0, 0.5)), var(--rainbow-gradient);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    margin-bottom: 3rem;
}

.stats-table tbody tr td,
.current-date-container p {
    -webkit-animation: slide-in-blurred-top 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.3s both;
    animation: slide-in-blurred-top 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.3s both;
}

.stats-table tbody tr td:nth-child(2) a {
    text-shadow: -1px 2px 5px rgb(100, 255, 33);
}

.stats-table tbody tr td:nth-child(3) a {
    text-shadow: -1px 2px 5px rgb(255, 0, 0);
}

.stats-table tbody tr td:nth-child(4) a {
    text-shadow: -1px 2px 5px rgb(25, 212, 206);
}

.stats-container div.progress {
    background-color: var(--secondary-bg-color);
}

.stats-container div.progress-bar {
    font-size: 0.8rem;
    background-color: var(--secondary-color);
}

/* Buttons */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 15px;
    z-index: 99;
    width: 40px;
    height: 40px;
    font-size: 18px;
    border: 2px outset rgb(255, 255, 255);
    outline: none;
    color: var(--primary-bg-color);
    background-color: var(--secondary-color);
    cursor: pointer;
    border-radius: 100%;
    filter: opacity(0.5);
}

.details-btn,
.back-btn {
    padding: 0.2em 0.6rem;
    text-decoration: none;
    font-weight: 500;
    border: none;
    outline: none;
    color: var(--primary-bg-color);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border: 2px outset var(--secondary-color);
    border-radius: 15px;
}

.details-btn:before,
.back-btn:before {
    content: "";
    background: var(--rainbow-gradient);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-rainbow 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

.details-btn:hover,
.back-btn:hover {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    color: white;
}

.details-btn:active:after,
.back-btn:active:after {
    background: transparent;
}

.details-btn:hover:before,
.back-btn:hover:before {
    opacity: 1;
}

.details-btn:after,
.back-btn:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--secondary-bg-color);
    left: 0;
    top: 0;
    border-radius: 10px;
}

.contact-btn {
    text-transform: uppercase;
    color: white;
    background-color: var(--secondary-color);
    transition: all 0.5s;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    margin: 10px;
    width: 200px;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.contact-btn span,
.details-btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.contact-btn span:after,
.details-btn span:after {
    content: '❯';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.contact-btn span:after {
    content: '✉';
}

.details-btn:hover span {
    padding-right: 15px;
}

.contact-btn:hover span {
    padding-right: 35px;
}

.contact-btn:hover span:after,
.details-btn:hover span:after {
    opacity: 1;
    right: 0;
}

/* FOOTER */
footer {
    position: absolute;
    width: 100%;
    height: 6.5rem;
    padding: 1rem 2rem;
    bottom: 0;
    background-color: var(--primary-bg-color);
    border-top: 1px solid black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px -13px 27px -5px, rgba(0, 0, 0, 0.3) 0px -8px 16px -8px;
}

footer>p {
    font-family: var(--special-font-family);
    font-size: 1.5rem;
    color: var(--secondary-bg-color);
    background-image: var(--rainbow-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: -2px -3px 0px rgb(255, 255, 255);
}

.social ul,
footer>p {
    padding: 0;
    margin: 0;
}

.icon-list {
    --color-fb: #1877f2;
    --color-ig: #e4487a;
    --color-wp: #25d366;
    width: 100%;
}

.icon-item {
    list-style: none;
}

.icon-link {
    display: inline-flex;
    font-size: 1.7rem;
    text-decoration: none;
    color: var(--secondary-color);
    width: 3rem;
    height: 3rem;
    transition: .5s linear;
    position: relative;
    z-index: 1;
    margin: auto;
}

.icon-link:hover {
    color: #fff;
}

.icon-link i {
    margin: auto;
}

.icon-link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 3rem;
    height: 3rem;
    background: #000;
    border-radius: 50%;
    z-index: -1;
    transform: scale(0);
    transition: 0.3s cubic-bezier(.95, .32, .37, 1.21);
}

.icon-link:hover::before {
    transform: scale(1);
}

.icon-item:nth-child(1) a:hover:before {
    background: var(--color-fb);
}

.icon-item:nth-child(2) a:hover:before {
    background: var(--color-ig);
}

.icon-item:nth-child(3) a:hover:before {
    background: var(--color-wp);
}

/* Keyframes */
@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@-webkit-keyframes slide-in-blurred-top {
    0% {
        -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes slide-in-blurred-top {
    0% {
        -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

@-webkit-keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

@keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

@-webkit-keyframes glowing-rainbow {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

@keyframes glowing-rainbow {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

@-webkit-keyframes flip-in-ver-left {
    0% {
        -webkit-transform: rotateY(80deg);
        transform: rotateY(80deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        opacity: 1;
    }
}

@keyframes flip-in-ver-left {
    0% {
        -webkit-transform: rotateY(80deg);
        transform: rotateY(80deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        opacity: 1;
    }
}

/* Media Queries */

/* Phone */
@media only screen and (max-width: 480px) {
    section {
        padding-bottom: 12rem;
    }

    #myBtn {
        bottom: 10px;
        right: 5px;
        z-index: 99;
        width: 35px;
        height: 35px;
    }

    .banner a,
    .banner .details-arrow {
        font-size: 10px;
        min-height: 1.5rem;
        min-width: 1.5rem;
        padding: 4px;
    }

    .cards-container>.row>.col {
        min-height: 10rem;
    }

    .cards-container .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .cards-container .card img {
        border-radius: 5px 0 0 5px;
        height: 100%;
        width: 35%;
    }

    .cards-container .card .card-body {
        width: 65%;
    }

    .cards-container .card .card-body h5 {
        padding-top: 1rem;
        margin-bottom: 1rem;
    }

    .cards-container .card-descr {
        -webkit-line-clamp: inherit;
    }

    .cards-container .card .card-footer {
        height: 25%;
        width: 65%;
    }

    .no-results-message img {
        margin: 0 1rem;
        height: 10rem;
    }

    .details-container .card img {
        width: 100%;
        height: 10rem;
    }

    .details-container .card img:hover {
        object-fit: contain;
    }

    .cards-container .card-footer {
        font-size: 13px;
        padding-left: 3px;
        padding-right: 2px;
    }

    footer {
        height: 10rem;
        padding: 1rem;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: column-reverse;
    }

    footer>p {
        padding: 1.5rem;
        padding-bottom: 0;
    }
}

/* Landscape Phone */
@media only screen and (max-width: 767.98px) {
    .navbar-toggler {
        height: 2.5rem;
        width: 2.5rem;
    }

    span.navbar-toggler-icon {
        height: 1em;
        width: 1em;
        position: relative;
        bottom: 3px;
        right: 3px;
    }

    .search-bar .category {
        min-width: 95vw;
    }

    .search-bar .search {
        padding-top: 2rem;
    }

    .details-container .card img {
        width: 100%;
        height: 13rem;
        border-radius: 5px 5px 0 0;
    }

    .details-container .card img:hover {
        object-fit: contain;
    }

    .details-container .card-footer li {
        min-height: 2rem;
    }
}

/* Tablet */
@media only screen and (max-width: 991.98px) {
    header nav {
        min-height: 65px;
    }

    .navbar-brand img {
        height: 2rem;
        padding-left: 0;
    }

    .navbar-collapse {
        text-align: center;
    }

    .current-date-container {
        position: initial;
        width: 100%;
        background-image: none;
        text-align: center;
        padding: 0.3rem 0.5rem;
        border-radius: 20px;
    }

    .current-date-container p {
        animation: none;
    }

    .current-date-container p::before {
        content: '';
    }

    nav .collapse {
        margin-top: 1rem;
    }

    main {
        padding-top: 4rem;
    }

    .banner {
        margin-bottom: 0.4rem;
    }

    .search-bar {
        padding: 1rem 3rem;
        justify-content: space-evenly;
    }

    .search-bar .category {
        width: 60%;
    }

    .details-container {
        padding-top: 1.5rem;
    }

    .details-container .card {
        width: 90vw;
    }

    .details-container .card-footer li {
        font-size: 13px;
    }

    .details-container .card-footer li i {
        padding-top: 7px;
    }

    .stats-table-container {
        padding: 10px 0;
    }
}